
.button_container{
    display: flex;
    justify-content: space-around;
}
.navbar_container{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.group>li{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
}
.navbar{
    width:100%;
}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}